:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.image-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    object-fit: cover;
    height: 300px;
  }
}
